body {
  background-color: grey;

}

.small-para {
  font-family: Roboto,Arial,sans-serif;
  color: white;
  font-size: 10px;
  padding: 100px;
  text-align: center;
  padding-left: 200px;
  padding-right: 200px;

}